@import url('https://fonts.googleapis.com/css?family=Yeon+Sung&display=swap');

#title {
    font-family: 'Yeon Sung', cursive;
    text-align: center;
    padding: 20px 0px 0px 15px;
    font-size: 50px;
    margin-top: 60px;
}

#history {
    text-align: justify;
    background-color: darkcyan;
}

.column > img {
    width: 200px;
    height: 207px;
    padding-left: 40px;
}

.description {
    margin-top: 0px;
    margin-left: 18px;
    padding-right: 20px;
    text-align: justify;
    width: 1150px;
}

table, tr, th, td {
    border: 2px solid black;
    margin-left: 23px;
    margin-right: 20px;
}