@import url("https://fonts.googleapis.com/css?family=Quicksand|Raleway&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  line-height: 1.6;
  margin: 0;
  min-height: 100vh;
}

h5 {
  color: rgb(255,255,255);
  margin-top: 10px;
  margin-right: 10px;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

#logo {
  margin-right: 5px;
}

nav {
  position: absolute;
  margin-bottom: 20px;
}

li.nav-item form button {
  color: rgb(255, 255, 255, .4);
  padding: 2px;
  background-color: transparent;
  border: none;
  outline: none;
  margin: 10px;
}

li.nav-item form button:hover {color: rgb(255, 255, 255, .8);}

.flexContainer {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  height: 100vh;
  text-align: center;
}

.flexContainer > div {
  background-color: grey;
  width: 100px;
  margin: 10px;
  text-align: center;
  line-height: 75px;
  font-size: 30px;
}

h1 {
  font-size: 60px;
  font-family: "Raleway", sans-serif;
  margin-top: 50px;
}

textarea, input[type="text"] {
  border-radius: 12px;
  border: gray 1px solid;
  box-shadow: 0 0 5px #999999;
  padding: 15px 20px;
  width: 350px;
  margin-bottom: 10px;
}

textarea {height: 250px;}

.goldBtn {
  padding: 8px 15px;
  font-size: 14px;
  font-weight: bold;
  background: rgb(255, 228, 161);
  border: 0;
  border-radius: 10px;
  margin-bottom: 10px;
}

.goldBtn:hover {
  cursor: pointer;
  background: rgba(255, 228, 161, .5);
}

.goldBtn:active {
  color: rgba(255, 255, 255);
  background: rgba(30, 144, 255);
}

.giphycontainer {
  width: 350px;
  margin: 0 auto;
}

